﻿@using OMDbScrabberLibrary.Entities;
@using OMDbScrabberLibrary.Dtos;
<h3>Movies in your library:</h3>
<table>
    <tr>
        <th>ImdbId</th>
        <th>Title</th>
        <th>Year</th>
        <th>Runtime Mins</th>
        <th>Genre</th>
        <th>Actors</th>
        <th>Rating</th>

    </tr>
    <tbody>
        @foreach (var movieActors in (ViewBag.Movies as List<MovieActorsDto>))
        {
        <tr>
            <td>@movieActors.Movie.ImdbId</td>
            <td><b>@movieActors.Movie.Title</b></td>
            <td>@movieActors.Movie.ReleaseDate.ToString("yyyy")</td>
            <td>@movieActors.Movie.RuntimeMins</td>
            <td>@movieActors.Movie.Genre</td>
            <td>@String.Join(", ", movieActors.Actors.Select(a => a.Name).ToArray())</td>
            <td>@movieActors.Movie.ImdbRating</td>
        </tr>
        }
    </tbody>
</table>

<h3>Filter your library:</h3>
@using (Html.BeginForm("List", "Imdb", FormMethod.Get))
{
    <table>
        <tr>
            <td><p>Rating Above: </p></td>
            <td><input type="text" name="ratingAbove" value="@ViewBag.RatingAbove" /> </td>
        </tr>
        <tr>
            <td><p>Runtime Mins Above: </p></td>
            <td><input type="number" name="runtimeMinsAbove" value="@ViewBag.RuntimeMinsAbove" /> </td>
        </tr>
        <tr>
            <td><p>Runtime Mins Below: </p></td>
            <td><input type="number" name="runtimeMinsBelow" value="@ViewBag.RuntimeMinsBelow" /> </td>
        </tr>
        <tr>
            <td><p>Has Actor: </p></td>
            <td><input type="text" name="hasActor" value="@ViewBag.HasActor"/> </td>
        </tr>

        <tr>
            <td><input type="submit" value="Filter" /> </td>
            <td></td>
        </tr>
    </table>

}
