﻿@using (Html.BeginForm("List", "Imdb", FormMethod.Post))
{

    <table>
        <tr>
            <td><p>Enter Ids: </p></td>
            <td><textarea name="ids"></textarea></td>
        </tr>

        <tr>
            <td><input type="submit" value="Get movies!" /> </td>
            <td></td>
        </tr>
    </table>

}